@import url("https://fonts.googleapis.com/css2?family=Vollkorn&family=Libre+Baskerville&family=Inter:wght@400;500;600;700&display=swap");

html {
  font-size: 16px;

  @media screen and (max-width: 991px) {
    font-size: 15px;
  }
}

body {
  font-family: "Inter", "gill sans mt", sans-serif;
  color: $color-text;
}

h1,
h2 {
  font-size: $font-size-heading1;
  font-weight: 700;

  @media screen and (max-width: 640px) {}
  font-size: $font-size-subheading;
  font-weight: 500;
}
